.wallpaper{background-image: url(/home/ernest/Documents/Moringa-school-projects/COSMOLOGY/GALAXY-CSS/Galaxy.css/M101LRGBChumackLRwebinv.jpg);
}
.menu{
       }
.Heading{color: rgb(250,235,215);
         background-image: url(/home/ernest/Documents/Moringa-school-projects/COSMOLOGY/GALAXY-CSS/Nebulae.css/1026203588.jpg);

          }
img{float:none;
  }
